/*======================================================/
 *														*
 * Yoko's Kitchen Responsive Design						*
 * Paul Beynon <info@teamradhq.com>						*
 * Refer to app.styl for full commentary.				*
 *														*
 *======================================================*/
/* reset html */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquotebefore,
blockquoteafter,
qbefore,
qafter {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* html reset */
zoom 1,
:after,
:before,
content "",
display table,
clear both,
margin($em=0.4em) {
  margin: 0.4em 0 0.4em;
}
/*=======================================================
 * Defaults, Blocks and Gutters and Boundaries
 *=======================================================*/
/* Begin Styles - Set default sizing to all */
html {
  font-size: 16px;
  box-sizing: border-box;
}
/* Declare block level elements */
header,
section,
footer,
aside,
nav,
article,
figure,
figcaption {
  display: block;
}
/* Add gutter to block level elements & inline contextual elements: */
article,
footer,
nav ul a,
section p,
section h2 {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* Add gutter to top and bottom of articles and sections */
article,
section {
  padding-top: 1em;
  padding-bottom: 1em;
}
/* Apply border-radius, including first nav a link contexts */
main,
img,
header,
nav,
footer,
figure,
nav a:hover:first-child,
nav a:active:first-child {
  border-radius: 0.25rem;
}
/* Clear top radius from footer */
footer {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
/* Clear bottom radius from nav list AND first nav link contexts at smaller viewports. */
@media (max-width: 920px) {
  nav {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
@media (min-width: 920px) {
  nav a:hover:first-child,
  nav a:active:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
/*=======================================================
 * Body Default
 *=======================================================*/
body {
  color: #666;
  background-color: #f9f8f6;
  font-family: Georgia, times, serif;
  line-height: 1.875em;
  background-position: center;
}
@media (min-width: 768px) {
  body {
    background-image: url("../img/dark-wood.jpg");
  }
  /* Bump out top and bottom of page on larger viewports */
}
@media (min-width: 920px) {
  body {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 920px) {
  body {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 920px) and (min-width: 1748px) {
  body {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}
/*=======================================================
 * Main viewport
 *=======================================================*/
main {
  position: relative;
  max-width: 940px;
  margin: auto;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  background-color: #fff;
}
/*=======================================================
 * Header Layout
 *=======================================================*/
header {
  padding-left: 1rem;
  position: relative;
  min-height: 130px;
  color: #f9f8f6;
  background-color: #aeaca8;
}
/* Display cropped header on small viewports */
@media (max-width: 510px) {
  header {
    background-image: url("../img/header-crop.jpg");
  }
  /* Display full header on larger viewports */
}
@media (min-width: 510px) {
  header {
    background-image: url("../img/header.jpg");
  }
}
header h1 {
/* Offset Header for image */
  text-indent: -9999px;
  margin: 0;
}
header a {
/* Header Menu Button */
  line-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.25em;
  text-transform: uppercase;
  text-align: center;
  background-color: #de6581;
  color: #fff;
  border-radius: 0.25rem;
  position: absolute;
}
header a:hover,
header a:active {
  background-color: #fff;
  color: #de6581;
  border-top: 2px solid #de6581;
  border-right: 2px solid #de6581;
  border-bottom: 2px solid #de6581;
  border-left: 2px solid #de6581;
}
@media (min-width: 920px) {
  header a {
    display: none;
  }
}
@media (min-width: 480px) {
  header a {
    right: 0.5rem;
    bottom: 0.5rem;
  }
}
@media (max-width: 480px) {
  header a {
    right: 0.5rem;
    top: 0.5rem;
  }
}
/* Nav and Footer gutters and colours */
nav,
footer {
  clear: both;
  color: #fff;
  background-color: #aeaca8;
  padding-bottom: 1rem;
}
/*=======================================================
 * Styling Link Sections
 *=======================================================*/
/* link Default */
a {
  color: #de6581;
  text-decoration: none;
}
/* Navigation Links */
nav {
  padding: 0;
}
nav ul {
  display: block;
  margin: 0;
  width: 100%;
}
nav ul li a {
  line-height: 1.875em;
  font-size: 1.45em;
  display: block;
  color: #fff;
  border-top: 0px solid #efefef;
  border-right: 0px solid #efefef;
  border-bottom: 1px solid #efefef;
  border-left: 0px solid #efefef;
}
nav ul li a:hover,
nav ul li a:active,
nav ul li a:focus {
  color: #383838;
  background-color: #c2c1be;
}
@media (min-width: 768px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    padding: 0;
    display: inline-block;
/* Hide Top link (last) */
  }
  nav ul li a {
    border-top: 0 solid #efefef;
    border-right: 0 solid #efefef;
    border-bottom: 0 solid #efefef;
    border-left: 0 solid #efefef;
  }
}
@media (min-width: 768px) and (min-width: 920px) {
  nav ul:last-of-type {
    color: #f00;
  }
}
@media (min-width: 920px) {
  nav {
    position: absolute;
    top: 94px;
    right: 3px;
  }
  nav ul li a {
    font-size: 1.1rem;
  }
}
/* Sidebar and Links */
aside section a {
  display: block;
  padding-left: 1rem;
  line-height: 2.71875em;
  border-top: 0 solid #efefef;
  border-right: 0 solid #efefef;
  border-bottom: 1px solid #efefef;
  border-left: 0 solid #efefef;
}
aside section a:hover,
aside section a:active {
  color: #d53d60;
  background-color: #efefef;
}
/* Move sidebar to the right on large viewports */
@media (min-width: 768px) {
  aside {
    width: 29%;
    float: right;
    position: absolute;
    right: 0;
  }
}
@media (min-width: 768px) and (max-width: 920px) {
  aside section a span {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    padding-bottom: 1em;
  }
}
/*=======================================================
 * Article Default
 *=======================================================*/
/* Article default */
article {
  border-top: 0 solid #efefef;
  border-right: 0 solid #efefef;
  border-bottom: 1px solid #efefef;
  border-left: 0 solid #efefef;
  clear: both;
  overflow: auto;
}
@media (min-width: 768px) {
  article {
    width: 67%;
    float: left;
    position: relative;
  }
  /* Set article to 2/3 width on larger viewports */
}
/* Figure default */
figure {
  border-top: 1px solid #aeaca8;
  border-right: 1px solid #aeaca8;
  border-bottom: 1px solid #aeaca8;
  border-left: 1px solid #aeaca8;
  padding-top: 0.9em;
  max-width: 530px;
}
/* Float figure to left on medium viewports and resize to 45% of content area */
@media (min-width: 480px) {
  figure {
    width: 45%;
    float: left;
    margin-right: 1rem;
  }
  /* Increase figure size slightly on larger viewports */
}
@media (min-width: 480px) and (min-width: 768px) {
  figure {
    width: 55%;
  }
}
/* Figcaption default */
figcaption {
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  font-size: 0.9em;
  text-align: center;
}
/* Image default */
img {
  display: block;
  margin: auto;
  width: 94.34%;
}
/* Heading styles */
h1,
h2,
h3 {
  font-weight: normal;
  line-height: 1.5em;
}
/* H1 = Maj7 */
h1 {
  font-size: 1.6875em;
}
/* H2 = Maj5 */
h2 {
  font-size: 1.35em;
}
/* H3 = Maj3 */
h3 {
  font-size: 1.2em;
}
h2,
h3 {
  color: #de6581;
}
/* Footer Default */
footer {
  padding-top: 1rem;
  text-align: center;
  background-image: url("../img/footer.jpg");
}
/* Resize text for smartphones in lanscape only */
@media (min-width: 480px) and (max-width: 758px) and (orientation: landscape) {
  h1 {
    font-size: 18.75px;
  }
  h2 {
    font-size: 15px;
  }
  h3,
  nav ul li a {
    font-size: 13.333333333333332px;
  }
  p,
  section a {
    font-size: 10px;
    line-height: 15px;
  }
}
