/*======================================================/
 *														*
 * Yoko's Kitchen Responsive Design						*
 * Paul Beynon <info@teamradhq.com>						*
 * Refer to app.styl for full commentary.				*
 *														*
 *======================================================*/
/* reset html */
@import 'stylus/reset'
/* html reset */

// My Mixins!
@import 'stylus/mixins'

// Stylus variables
$pink = #de6581
$darkPink = darken($pink, 15%)
$white = #fff
$black = #000
$darkGray = #666
$midGray = #aeaca8
$lightGray = #efefef
$offWhite = #f9f8f6

// Breakpoints
$bp_sm = 480px
$bp_md = 768px
$bp_lg = 920px

// Gutter (rems or px only)
$gutter = 1rem

//	Harmony
//	h1 Major Seventh - 15/8 - 1.875 
//	h2 Major Fifth - 3/2 - 1.5
//	h3 Major Third - 4/3 - 1.333333333

Maj7 = 15/8
Maj5 = 3/2
Maj3 = 4/3

/*=======================================================
 * Defaults, Blocks and Gutters and Boundaries
 *=======================================================*/

/* Begin Styles - Set default sizing to all */
html 
	font-size 16px
	box-sizing border-box

/* Declare block level elements */
header, section, footer, aside, nav, article, figure, figcaption
	display block

/* Add gutter to block level elements & inline contextual elements: */
article, footer, nav ul a, section p, section h2
	padding-left $gutter
	padding-right $gutter

/* Add gutter to top and bottom of articles and sections */
article, section
	padding-top 1em
	padding-bottom 1em
	
/* Apply border-radius, including first nav a link contexts */
main, img, header, nav, footer, figure, nav a:hover:first-child, nav a:active:first-child
	border-radius .25 * $gutter

/* Clear top radius from footer */
footer 
	border-top-right-radius 0
	border-top-left-radius 0

/* Clear bottom radius from nav list AND first nav link contexts at smaller viewports. */ 
@media (max-width $bp_lg)
	nav
		border-bottom-right-radius 0
		border-bottom-left-radius 0
@media (min-width $bp_lg)
	nav a:hover:first-child, nav a:active:first-child
		border-bottom-right-radius 0
		border-bottom-left-radius 0

/*=======================================================
 * Body Default
 *=======================================================*/
body


	color $darkGray
	background-color $offWhite
	font-family Georgia, times, serif
	line-height Maj7 * 1em
	background-position center
	position relative
		/* Display background on larger viewports. */
	@media (min-width $bp_md)
		background-image url('../img/dark-wood.jpg')
	
		/*! Bump out top and bottom of page on larger viewports */
	@media (min-width $bp_md)
		@media (max-width $bp_lg)
			margin-top $gutter
			margin-bottom $gutter			

	@media (min-width $bp_lg)
		margin-top 2.5 * $gutter
		margin-bottom 2.5 * $gutter
		@media (min-width 1.9 * $bp_lg)
			margin-top 8 * $gutter
			margin-bottom 8 * $gutter
		
 /*=======================================================
 * Main viewport
 *=======================================================*/
main
	position relative
	// min-height 65vh
	max-width 940px // header bg_img limit
	margin auto
	border($white, 2px)
	background-color $white

 /*=======================================================
 * Header Layout
 *=======================================================*/
header
	padding-left $gutter
	position relative
	min-height 130px
	color $offWhite
	background-color $midGray
	background-position top -20px left 0
	
		/*! Display cropped header on small viewports */
	@media (max-width 510px)
		background-image url('../img/header-crop.jpg')
		/*! Display full header on larger viewports */
	@media (min-width 510px)
		background-image url('../img/header.jpg')
	
	h1
		/* Offset Header for image */
		text-indent -9999px
		margin 0
	a
		/* Header Menu Button */

		line-height 2 * $gutter
		padding-left $gutter
		padding-right $gutter
		font-size 1.25em
		text-transform uppercase
		text-align center
		background-color $pink
		color $white
		border-radius (1/4)*$gutter
		&:hover, &:active
			background-color $white
			color $pink
			border($pink, 2px)
		@media (min-width $bp_lg)
			display none
		position absolute
		@media (min-width $bp_sm)
			right 0.5 * $gutter
			bottom 0.5 * $gutter
		@media (max-width $bp_sm)
			right 0.5 * $gutter
			top 0.5 * $gutter

/* Nav and Footer gutters and colours */	
nav, footer
	clear both
	color $white
	background-color $midGray
	padding-bottom $gutter
	
 /*=======================================================
 * Styling Link Sections
 *=======================================================*/
/*! link Default */
a
	color $pink
	text-decoration none
/* Navigation Links */
nav 
	padding 0
	ul 
		display block
		margin 0
		width 100%
		li
			a
				line-height Maj7 * 1em
				font-size 1.45em
				display block
				color $white
				border($lightGray, 0px, 0px, 1px, 0px)
			a:hover, a:active, a:focus
				color darken($darkGray, 45%)
				background-color lighten($midGray,25%)
		@media (min-width $bp_md)
			text-align center
			li
				padding 0
				display inline-block
				a
					border($lightGray, 0)
				/* Hide Top link (last) */
				@media (min-width $bp_lg)
					&:last-of-type 
						color red
						// display none
	@media (min-width $bp_lg)
		/* Move Nav to header on larger viewports */
		ul li a
			font-size 1.1rem
		position absolute
		top 94px
		right 3px
/* Sidebar and Links */
aside 
	section 
		a
			display block
			padding-left $gutter
			line-height Maj7 * 1.45em
			border($lightGray,0,0,1px,0)
			&:hover, &:active
				color $darkPink
				background-color $lightGray		
	/*! Move sidebar to the right on large viewports */
	@media (min-width $bp_md)
		width 29%	
		float right
		position absolute
		right 0
		@media(max-width $bp_lg)
			section
				a
					span
						display block
						font-size 1em
						line-height 1.2em
						padding-bottom 1em

/*=======================================================
 * Article Default
 *=======================================================*/

/* Article default */
article
	clearfix()
	border($lightGray, 0, 0, 1px,0)
	clear both
	overflow auto
	@media (min-width $bp_md) 
		/*! Set article to 2/3 width on larger viewports */
		width 67%
		float left
		position relative

/* Figure default */		
figure
	border($midGray, 1px)
	padding-top .9em
	max-width 530px	
	margin 0.5em auto 0.5em
		/*! Float figure to left on medium viewports and resize to 45% of content area */
	@media (min-width $bp_sm)
		width 45%
		float left
		margin-right $gutter
		/*! Increase figure size slightly on larger viewports */
		@media (min-width $bp_md)
			width 55%

/* Figcaption default */
figcaption
	padding-top .125em
	padding-bottom .125em
	font-size 0.9em
	text-align center

/* Image default */ 
img
	display block
	margin auto
	width 94.34%

/* Heading styles */
h1, h2, h3 
	font-weight normal
	line-height 1.5em
/* H1 = Maj7 */
h1
	font-size Maj7 * .9em
/* H2 = Maj5 */
h2
	font-size Maj5 * .9em
/* H3 = Maj3 */
h3
	font-size Maj3 * .9em
h2, h3
	color $pink
/* Footer Default */
footer
	padding-top $gutter
	text-align center
	background-image url('../img/footer.jpg')
	

/*! Resize text for smartphones in lanscape only */
@media (min-width $bp_sm)
	@media (max-width $bp_md - 10)
		@media (orientation : landscape)
			h1
				font-size Maj7 * 10px
			h2
				font-size Maj5 * 10px
			h3, nav ul li a
				font-size Maj3 * 10px
			p, section a
				font-size 10px
				line-height 15px
